/* 全体のレイアウト（ヘッダー分を引いた高さ） */
.wave-dashboard {
  display: flex;
  height: calc(100vh - 80px);
  width: 100%;
  background-color: #f8f9fa;
}

/* 左側：マップコンテナ */
.map-section {
  flex: 1;
  border-right: 2px solid #dee2e6;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

/* 右側：グラフセクション */
.graph-section {
  flex: 1;
  /* padding: 10px; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  height: 110vh;
}

/* グラフを囲む白いカード */
.graph-card {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  height: 80%;
  display: flex;
  flex-direction: column;
}

.graph-container {
  flex: 1;
  height: 90%;
}

.hint-text {
  font-size: 12px;
  color: #666;
  margin-top: 10px;
}
